/*색상과 높이주기*/
header{
    background-color: pink;
    height: 50px;
}

nav{
    background-color: greenyellow;
    height: 40%;
}

article{
    background-color:plum ;
    height: 30%;
}

aside{
    background-color: yellow;
    height: 50%;
}

section{
    background-color: skyblue;
    flex: 1;
}

footer{
    background-color: orangered;
    height: 50px;
    
}

/*위치에 FLEX박스 주기*/
.flexbox {
    display: flex;
    flex: 1;
}



.main {
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: flex-start; /* 주축 방향(수직 방향)에서 아이템을 시작 위치로 정렬 */
}

.side {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: flex-end; /* 주축 방향(수직 방향)에서 아이템을 끝 위치로 정렬 */

}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

